html {
    background: url(../img/forest.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:white;
    font-family:'MountainsofChristmasRegular';
}
h1 {
    color:white;
    font-size:30px;
    text-align:center;
}
a {
    color:white;
    font-size: 20px;
    text-decoration: none;
}
ul {
    list-style-type: none;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
li {
    display: inline-block;
    padding: 10px;
    margin: 10px;
}
h3 {
    color:cyan;
}
